body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; 
    box-sizing: border-box;
}

.wrapper{
    max-width: 960px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    padding-top:50px;
}

.responsive{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* upload home */
.up-area{
    margin:10px auto 30px;
}


.upload{
    padding: 20px 0;
}


.upload-area{
    height: 250px;
    border: 5px dashed lightgray;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    overflow: auto;
    position: relative;
}

.upload-area:hover{
    cursor: pointer;
}

.upload-area h2{
    font-size: 22px;
    padding:0;
    margin:0;
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 40px;
    color: darkslategray;
    position: relative;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:300px;
}

.box_button{
	font-weight: 700;
    background-color: #cacbcc;
    color: #515353;
    padding: 8px 16px; 
    display: block;
    margin: 3px auto 0;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media(max-width: 768px) {
    .upload-area h2{
        font-size: 20px;
    }
}

red {
  color: red;
}

a {
  color: #337ab7;
}
p {
  margin-top: 1rem;
}
a:hover {
  color:#23527c;
}
a:visited {
  color: #8d75a3;
}

#controls {
  display: flex;
  margin-top: 2rem;
}
button {
  flex-grow: 1;
  height: 2.5rem;
  min-width: 2rem;
  border: none;
  border-radius: 0.15rem;
  background: #ed9d1c;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1rem;
}
button:hover, button:focus {
  outline: none;
  background: #c17f15;
}
button::-moz-focus-inner {
  border: 0;
}
button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}
button:disabled {
  pointer-events: none;
  background: lightgray;
}
button:first-child {
  margin-left: 0;
}
audio {
  display: block;
  width: 100%;
  margin-top: 0.2rem;
}
li {
  list-style: none;
  margin-bottom: 1rem;
}
#formats {
  margin-top: 0.5rem;
  font-size: 80%;
}

/* DivTable.com */
.divTable{
  display: table;
  width: 100%;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell, .divTableHead {
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
